/* SQUARED TWO */
.squaredTwo {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
    margin: 20px auto;

    position: relative;
}

.squaredTwo label {
    cursor: pointer;
    position: absolute;
    width: 15px;
    height: 15px;
    top: -2px;
    right: 0px;

    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredTwo label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 8px;
    height: 4px;
    background: transparent;
    top: 3px;
    left: 2px;
    border: 3px solid #6796b4;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.squaredTwo label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.squaredTwo input[type=checkbox]:checked + label:after, .squaredTwo input[type=radio]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.squaredTwo input[type=checkbox], .squaredTwo input[type=radio] {
    display: none;
}


/* ============================================================
  SPINNER 3
============================================================ */
.spinner-3 {
    height: 100px;
    position: absolute;
    top: 40%;
    left: 40%;
}
.spinner-3 .spinner {
    width: 100px;
    height: 100px;
}
.spinner-3 .spinner:before, .spinner-3 .spinner:after {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 40px;
    height: 40px;
    content: "";
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
}
.spinner-3 .spinner:before {
    left: 0;
    background-color: #6796b4;
    -webkit-animation: spinner-3-left 1s infinite linear;
    -moz-animation: spinner-3-left 1s infinite linear;
    -ms-animation: spinner-3-left 1s infinite linear;
    -o-animation: spinner-3-left 1s infinite linear;
    animation: spinner-3-left 1s infinite linear;
}
.spinner-3 .spinner:after {
    right: 0;
    background-color: tomato;
    -webkit-animation: spinner-3-right 1s infinite linear;
    -moz-animation: spinner-3-right 1s infinite linear;
    -ms-animation: spinner-3-right 1s infinite linear;
    -o-animation: spinner-3-right 1s infinite linear;
    animation: spinner-3-right 1s infinite linear;
}

/* left ball */
@-webkit-keyframes spinner-3-left {
    0% {
        -webkit-transform: translate(0, 0);
    }

    25% {
        -webkit-transform: translate(30px, 0);
    }

    50% {
        -webkit-transform: translate(30px, -30px);
    }

    75% {
        -webkit-transform: translate(30px, 0);
    }

    100% {
        -webkit-transform: translate(0, 0);
    }
}

@-mos-keyframes spinner-3-left {
0% {
    -mos-transform: translate(0, 0);
}

25% {
    -mos-transform: translate(30px, 0);
}

50% {
    -mos-transform: translate(30px, -30px);
}

75% {
    -mos-transform: translate(30px, 0);
}

100% {
    -mos-transform: translate(0, 0);
}
}

@-ms-keyframes spinner-3-left {
    0% {
        -ms-transform: translate(0, 0);
    }

    25% {
        -ms-transform: translate(30px, 0);
    }

    50% {
        -ms-transform: translate(30px, -30px);
    }

    75% {
        -ms-transform: translate(30px, 0);
    }

    100% {
        -ms-transform: translate(0, 0);
    }
}

@-o-keyframes spinner-3-left {
    0% {
        -o-transform: translate(0, 0);
    }

    25% {
        -o-transform: translate(30px, 0);
    }

    50% {
        -o-transform: translate(30px, -30px);
    }

    75% {
        -o-transform: translate(30px, 0);
    }

    100% {
        -o-transform: translate(0, 0);
    }
}

@keyframes spinner-3-left {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(30px, 0);
    }

    50% {
        transform: translate(30px, -30px);
    }

    75% {
        transform: translate(30px, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

/* right ball */
@-webkit-keyframes spinner-3-right {
    0% {
        -webkit-transform: translate(0, 0);
    }

    25% {
        -webkit-transform: translate(-30px, 0);
    }

    50% {
        -webkit-transform: translate(-30px, 30px);
    }

    75% {
        -webkit-transform: translate(-30px, 0);
    }

    100% {
        -webkit-transform: translate(0, 0);
    }
}

@-moz-keyframes spinner-3-right {
    0% {
        -moz-transform: translate(0, 0);
    }

    25% {
        -moz-transform: translate(-30px, 0);
    }

    50% {
        -moz-transform: translate(-30px, 30px);
    }

    75% {
        -moz-transform: translate(-30px, 0);
    }

    100% {
        -moz-transform: translate(0, 0);
    }
}

@-ms-keyframes spinner-3-right {
    0% {
        -ms-transform: translate(0, 0);
    }

    25% {
        -ms-transform: translate(-30px, 0);
    }

    50% {
        -ms-transform: translate(-30px, 30px);
    }

    75% {
        -ms-transform: translate(-30px, 0);
    }

    100% {
        -ms-transform: translate(0, 0);
    }
}

@-o-keyframes spinner-3-right {
    0% {
        -o-transform: translate(0, 0);
    }

    25% {
        -o-transform: translate(-30px, 0);
    }

    50% {
        -o-transform: translate(-30px, 30px);
    }

    75% {
        -o-transform: translate(-30px, 0);
    }

    100% {
        -o-transform: translate(0, 0);
    }
}

@keyframes spinner-3-right {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(-30px, 0);
    }

    50% {
        transform: translate(-30px, 30px);
    }

    75% {
        transform: translate(-30px, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}