#night { background-color: lightgray; }
/*#night #splitViews { background-color: darkgray; }*/
/*#night #splitViews>* { background-color: darkgray; }*/
/*#night #splitViews>*>* { background-color: darkgray; }*/
/*#night #splitViews>div>div>* { background-color: darkgray; }*/
#night #tabs>div, #night #secondViewTabs>div { background-color: lightgray; }