.playerWidget {
    position: relative;
    width: 100%;
    height: 34px;
    margin-bottom: 1px;
    background-color: #6796b4;
}

/* CONTROLS START */
.playerWidget .control {
    transition: background-color 0.3s ease-in-out;
    margin-left: 1px;
    float: right;
    width: 34px;
    height: 34px;
}

.playerWidget .control:hover {
    background-color: #7EA6BF;
    cursor: pointer;
}
.playerWidget .control.mouseDown, .playerWidget .control.mouseDown:hover {
    background-color: gray!important;
}


.playerWidget .control.play:before {
    content: '';
    position: absolute;
    top: 0px;
    margin: 3px;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 28px solid aliceblue;
}

.playerWidget .control.pause:before {
    content: '';
    position: absolute;
    top: 0px;
    margin-top: 7px;
    margin-left: 11px;
    border-top: 10px solid aliceblue;
    border-bottom: 10px solid aliceblue;
    border-left: 2px solid aliceblue;
    border-right: 2px solid aliceblue;
}
.playerWidget .control.pause:after {
    content: '';
    position: absolute;
    top: 0px;
    margin-top: 7px;
    margin-left: 19px;
    border-top: 10px solid aliceblue;
    border-bottom: 10px solid aliceblue;
    border-left: 2px solid aliceblue;
    border-right: 2px solid aliceblue;
}

.playerWidget .control.next:before, .playerWidget .control.prev:before {
    content: '';
    position: absolute;
    top: 0px;
    margin-top: 7px;
    margin-left: 5px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid aliceblue;
}
.playerWidget .control.next:after, .playerWidget .control.prev:after {
    content: '';
    position: absolute;
    top: 0px;
    margin-top: 7px;
    margin-left: 25px;
    border-top: 10px solid aliceblue;
    border-bottom: 10px solid aliceblue;
    border-left: 2px solid aliceblue;
    border-right: 2px solid aliceblue;
}

.playerWidget .control.prev {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.playerWidget .control.volume {
    -webkit-appearance: none;
    background-color: #efeff5;
    position: relative;
    top: 3px;
    width: 68px;
    height:20px;
}
.playerWidget .control.volume:hover {
    background-color: aliceblue;
}

.playerWidget .control.volume::-webkit-slider-thumb {
    transition: all 0.3s ease-in-out;
    -webkit-appearance: none;
    background-color: #666;
    opacity: 0.5;
    width: 10px;
    height: 26px;
}
.playerWidget .control.volume:hover::-webkit-slider-thumb {
    background-color: #7EA6BF;
}
/* CONTROLS END */

/* PROGRESS BAR START */
.playerWidget .progressBarContainer {
    position: absolute;
    background: #efeff5;
    left: 1px;
    top: 1px;
    right: 175px;
    padding-right: 2px;
    height: 22px;
    overflow: hidden;
}

.playerWidget .progressBarContainer:hover {
    background: aliceblue;
    cursor: pointer;
}
.playerWidget .progressBarContainer:hover .progressBar {
    background: #7EA6BF;
    cursor: pointer;
}

.playerWidget .progressBar {
    position: relative;
    background: #6796b4;
    width: 0%;
    height: 20px;
    left: 1px;
    top: 1px;
}

.playerWidget .progressBar .progressBarCurrentTime {
    position: absolute;
    color: aliceblue;
    overflow: hidden;
    z-index: 1;
}
.playerWidget .progressBar .progressBarBackgroundCurrentTime {
    color: #6796b4;
    left: 1px;
}


.playerWidget .progressBar .progressBarTrackLength {
    position: absolute;
    color: aliceblue;
    top: 0px;
    right: 1px;
    z-index: 1;
    overflow: hidden;
}
.playerWidget .progressBarContainer .progressBarBackgroundTrackLength {
    position: relative;
    float: right;
    height: 100%;
    top: -20px;
    color: #6796b4;
    line-height: 22px;
}

.playerWidget .progressBarContainer:hover .progressBarBackgroundTrackLength, .playerWidget .progressBarContainer:hover .progressBarBackgroundCurrentTime {
    color: #7EA6BF;
}

.playerWidget .progressBarContainer, .playerWidget .progressBarContainer .progressBar, .playerWidget .progressBarContainer .progressBarBackgroundTrackLength, .playerWidget .progressBarContainer .progressBarBackgroundCurrentTime {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.playerWidget .progressBar .progressBarCurrentTime, .playerWidget .progressBar .progressBarBackgroundCurrentTime, .playerWidget .progressBarTrackLength, .playerWidget .progressBarBackgroundTrackLength, .playerWidget .progressBarCursorTime {
    pointer-events: none;
}


.playerWidget .progressBarCursorTime {
    transition: height 0.075s 0.025s ease-in-out, opacity 0.075s 0.025s ease-in-out, left 0.05s ease;
    position: absolute;
    color: aliceblue;
    background-color: #7EA6BF;
    z-index: 999;
    top: 23px;
    border: 1px solid #6796b4;
}

.playerWidget .progressBarContainer+.progressBarCursorTime {
    height: 0px;
    opacity: 0;
}
.playerWidget .progressBarContainer:hover+.progressBarCursorTime {
    height: 20px;
    opacity: 1;
}
/* PROGRESSBAR END */