.playerWidget {
    position: relative;
    width: 100%;
    height: 34px;
    margin-bottom: 1px;
}
/*day*/
.playerWidget { background-color: #6796b4; }
/*night*/
#night .playerWidget { background-color: #2d2d2d; }

/* CONTROLS START */
.playerWidget .control {
    transition: background-color 0.3s ease-in-out;
    position: absolute;
    top: 0px;
    width: 34px;
    height: 34px;
}
.playerWidget .control:hover {
    cursor: pointer;
}
.playerWidget .control.progress-bar {
    left: 0px;
    right: 216px;
    width: auto;
}
.playerWidget .control.volume {
    right: 148px;
    width: 68px;
}
.playerWidget .control.recycle {
    right: 108px;
}
.playerWidget .control.prev {
    right: 68px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.playerWidget .control.play,
.playerWidget .control.pause {
    right: 34px;
}
.playerWidget .control.next {
    right: 0px;
}

.playerWidget .volume.range {
    -webkit-appearance: none;
    position: relative;
    margin-top: 3px;
    width: 100%;
    height: 20px;
}
.playerWidget .volume.range::-webkit-slider-thumb {
    transition: all 0.3s ease-in-out;
    -webkit-appearance: none;
    opacity: 0.5;
    width: 10px;
    height: 26px;
}
.playerWidget .control.recycle svg {
    transition: fill 0.5s ease-in-out;
}

/*day*/
.playerWidget .control:hover { background-color: #7EA6BF; }
.playerWidget .control.mouseDown, .playerWidget .control.mouseDown:hover { background-color: gray!important; }
.playerWidget .control.play:before {
    content: '';
    position: absolute;
    top: 0px;
    margin: 3px;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 28px solid aliceblue;
}
.playerWidget .control.pause:before {
    content: '';
    position: absolute;
    top: 0px;
    margin-top: 7px;
    margin-left: 11px;
    border-top: 10px solid aliceblue;
    border-bottom: 10px solid aliceblue;
    border-left: 2px solid aliceblue;
    border-right: 2px solid aliceblue;
}
.playerWidget .control.pause:after {
    content: '';
    position: absolute;
    top: 0px;
    margin-top: 7px;
    margin-left: 19px;
    border-top: 10px solid aliceblue;
    border-bottom: 10px solid aliceblue;
    border-left: 2px solid aliceblue;
    border-right: 2px solid aliceblue;
}
.playerWidget .control.next:before, .playerWidget .control.prev:before {
    content: '';
    position: absolute;
    top: 0px;
    margin-top: 7px;
    margin-left: 5px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid aliceblue;
}
.playerWidget .control.next:after, .playerWidget .control.prev:after {
    content: '';
    position: absolute;
    top: 0px;
    margin-top: 7px;
    margin-left: 25px;
    border-top: 10px solid aliceblue;
    border-bottom: 10px solid aliceblue;
    border-left: 2px solid aliceblue;
    border-right: 2px solid aliceblue;
}
.playerWidget .volume.range { background-color: #efeff5; }
.playerWidget .volume.range:hover { background-color: aliceblue; }
.playerWidget .volume.range::-webkit-slider-thumb { background-color: #666; }
.playerWidget .volume.range:hover::-webkit-slider-thumb { background-color: #7EA6BF; }
.playerWidget .control.recycle.confirm svg { fill: salmon; }
.playerWidget .control.recycle.confirmed svg { fill: greenyellow; }

/*night*/
#night .playerWidget .control:hover { background-color: #474747; }
#night .playerWidget .control.mouseDown, #night .playerWidget .control.mouseDown:hover { background-color: gray!important; }
#night .playerWidget .volume.range { background-color: #efeff5; }
#night .playerWidget .volume.range:hover { background-color: aliceblue; }
#night .playerWidget .volume.range::-webkit-slider-thumb { background-color: #030303; }
#night .playerWidget .volume.range:hover::-webkit-slider-thumb { background-color: #2d2d2d; }
#night .playerWidget .control.recycle.confirm svg { fill: black; }
#night .playerWidget .control.recycle.confirmed svg { fill: #828282; }
/* CONTROLS END */

/* PROGRESS BAR START */
.playerWidget .progressBarContainer {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 1px 1px 0px 1px;
    height: 22px;
    overflow: hidden;
}
.playerWidget .progressBarContainer:hover,
.playerWidget .progressBarContainer:hover .progressBar {
    cursor: pointer;
}
.playerWidget .progressBar {
    position: relative;
    width: 0%;
    height: 20px;
    left: 1px;
    top: 1px;
}
.playerWidget .progressBar .progressBarCurrentTime {
    position: absolute;
    overflow: hidden;
    z-index: 1;
}
.playerWidget .progressBar .progressBarBackgroundCurrentTime {
    left: 1px;
}
.playerWidget .progressBar .progressBarTrackLength {
    position: absolute;
    top: 0px;
    right: 1px;
    z-index: 1;
    overflow: hidden;
}
.playerWidget .progressBarContainer .progressBarBackgroundTrackLength {
    position: relative;
    float: right;
    height: 100%;
    top: -20px;
    line-height: 22px;
}
.playerWidget .progressBarContainer, .playerWidget .progressBarContainer .progressBar, .playerWidget .progressBarContainer .progressBarBackgroundTrackLength, .playerWidget .progressBarContainer .progressBarBackgroundCurrentTime {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.playerWidget .progressBar .progressBarCurrentTime, .playerWidget .progressBar .progressBarBackgroundCurrentTime, .playerWidget .progressBarTrackLength, .playerWidget .progressBarBackgroundTrackLength, .playerWidget .progressBarCursorTime {
    pointer-events: none;
}
.playerWidget .progressBarCursorTime {
    transition: height 0.075s 0.025s ease-in-out, opacity 0.075s 0.025s ease-in-out, left 0.05s ease;
    position: absolute;
    z-index: 999;
    top: 23px;
}
.playerWidget .progressBarContainer+.progressBarCursorTime {
    height: 0px;
    opacity: 0;
}
.playerWidget .progressBarContainer:hover+.progressBarCursorTime {
    height: 20px;
    opacity: 1;
}

/*day*/
.playerWidget .progressBarContainer { background: #efeff5; } 
.playerWidget .progressBarContainer:hover { background: aliceblue; }
.playerWidget .progressBarContainer:hover .progressBar { background: #7EA6BF; }
.playerWidget .progressBar { background: #6796b4; } 
.playerWidget .progressBar .progressBarCurrentTime { color: aliceblue; }
.playerWidget .progressBar .progressBarBackgroundCurrentTime { color: #6796b4; }
.playerWidget .progressBar .progressBarTrackLength { color: aliceblue; }
.playerWidget .progressBarContainer .progressBarBackgroundTrackLength { color: #6796b4; }
.playerWidget .progressBarContainer:hover .progressBarBackgroundTrackLength, .playerWidget .progressBarContainer:hover .progressBarBackgroundCurrentTime { color: #7EA6BF; }
.playerWidget .progressBarCursorTime { color: aliceblue; background-color: #7EA6BF; border: 1px solid #6796b4; } 

/*night*/
#night .playerWidget .progressBarContainer { background: #efeff5; }
#night .playerWidget .progressBarContainer:hover { background: aliceblue; }
#night .playerWidget .progressBarContainer:hover .progressBar { background: #585858; }
#night .playerWidget .progressBar { background: #2d2d2d; }
#night .playerWidget .progressBar .progressBarCurrentTime { color: aliceblue; }
#night .playerWidget .progressBar .progressBarBackgroundCurrentTime { color: #45434C; }
#night .playerWidget .progressBar .progressBarTrackLength { color: aliceblue; }
#night .playerWidget .progressBarContainer .progressBarBackgroundTrackLength { color: #45434C; }
#night .playerWidget .progressBarContainer:hover .progressBarBackgroundTrackLength, #night .playerWidget .progressBarContainer:hover .progressBarBackgroundCurrentTime { color: #45434C; }
#night .playerWidget .progressBarCursorTime { color: aliceblue; background-color: #585858; border: 1px solid #585858; }
/* PROGRESSBAR END */