html, body {
    width: 800px;
    height: 599px;
}

#playerWidgetContainer { top: 0px; right: 0px; left: 0px; }
#splitViews { top: 35px; right: 0px; bottom: 0px; left: 0px; }
.temp-panel.temp-share-share-this-link .temp-share-template-line >div { margin-left: 0%; }
.temp-panel.temp-share-share-this-link .temp-share-template-line >input { margin-left: 2%; }
#qrcode>canvas { width: 225px; height: 225px; }