/* pti-ptilist container */
.pti-ptilist { position: relative; width: 100%; height: 100%; margin-top: 0px; }

/* playlist header */
.pti-ptilist .pti-header { height: 32px; }
.pti-ptilist .pti-header .pti-header-button { transition: all 0.3s ease; margin-top: 1px; margin-left: 1px; float: left; width: 30px; height: 30px; line-height: 30px; text-align: center; cursor: default; }
.pti-ptilist .pti-header .pti-header-button:hover { cursor: pointer; border-radius: 35%; }
.pti-ptilist .pti-header .pti-header-button.selected { border-radius: 20%; }

/* pti-ptilist content */
.pti-content { cursor: crosshair; }
.pti-ptilist .slimScrollDiv { top: 0px; }
.pti-ptilist .pti-header+.slimScrollDiv, .pti-ptilist .pti-header+.pti-menu.temp-display-none+.slimScrollDiv { top: 33px; }
.pti-ptilist .pti-header+.pti-menu+.slimScrollDiv { top: 126px; }
.pti-ptilist .slimScrollDiv { position: absolute!important; bottom: 0px; width: 100%; height: auto!important; }
.pti-ptilist .pti-content { height: 100%; }


/* pti-ptilist content container */
.pti-ptilist .pti-content.pti-split-one>.pti-element, .pti-ptilist .pti-content.pti-split-one>.pti-sortable-placeholder { width: 100%; }
.pti-ptilist .pti-content.pti-split-two>.pti-element, .pti-ptilist .pti-content.pti-split-two>.pti-sortable-placeholder { width: 50%; }
.pti-ptilist .pti-content.pti-split-two>.pti-element:nth-child(2n)>* { margin-right: 1px; }
.pti-ptilist .pti-content>.pti-element { transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease, color 0.3s ease; float: left; cursor: default; overflow: hidden; position: relative; font-size: 11px; cursor: crosshair; }
/*.pti-ptilist .pti-content>:nth-child(1):not(.display-none), .pti-ptilist .pti-content>:nth-child(2):not(.display-none) { height: 90px!important; }*/
/*.pti-ptilist .pti-content>:nth-child(1):not(.display-none)>:first-child , .pti-ptilist .pti-content>:nth-child(2):not(.display-none)>:first-child { margin: 0px!important; }*/
.pti-ptilist .pti-content>.pti-element>* { transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease, color 0.3s ease; margin: 0px 0.5px 0.5px 0px; }

.pti-ptilist .pti-content.pti-view-big>.pti-element { height: 91px; }
.pti-ptilist .pti-content.pti-view-big>.pti-element>* { height: 90px; }

.pti-ptilist .pti-content.pti-view-medium>.pti-element { height: 46px; }
.pti-ptilist .pti-content.pti-view-medium>.pti-element>* { height: 45px; }

.pti-ptilist .pti-content.pti-view-list>.pti-element { height: 21px; line-height: 20px; }
.pti-ptilist .pti-content.pti-view-list>.pti-element>* { height: 20px; }


/* pti-ptilist content notice message */
.pti-ptilist .pti-content>div.pti-make-last-droppable-work { position: fixed; top: 9999px; width: 100%; text-align: center; }
.pti-ptilist .pti-content>div:only-child { position: absolute; top: 45%; bottom: 0px; }

/* COLORS */
/*DAY*/
.pti-ptilist .pti-header { background-color: #efeff5; }
.pti-ptilist .pti-header .pti-header-button { color: #676470; }
.pti-ptilist .pti-header .pti-header-button:hover { background-color: silver; color: white; }
.pti-ptilist .pti-header .pti-header-button.selected { background-color: #7EA6BF; color: white; }

.pti-ptilist .slimScrollDiv { background-color: #f7f7f7; }

.pti-ptilist .pti-content>.pti-element>* { background-color: #efeff5; color: #56545e; }
.pti-ptilist .pti-content>.pti-element:hover>* { background-color: aliceblue; }
.pti-ptilist .pti-content>.pti-element.selected>div, .pti-ptilist .pti-content>.pti-element.selected:hover>div { background-color: #6796b4; color: white; }
.pti-ptilist .pti-content>.pti-element.ui-selected>div { background-color: #F9961B; color: white; } /* orange before */
.pti-ptilist .pti-content>.pti-element.ui-selected:hover>div { background-color: #ffb122; }
.pti-ptilist .pti-content>.pti-element.ui-selected.selected>div { background-color: #F97413; }

/*NIGHT*/
#night .pti-ptilist .pti-header { background-color: #676470; }
#night .pti-ptilist .pti-header .pti-header-button { color: silver; }
#night .pti-ptilist .pti-header .pti-header-button:hover { background-color: silver; color: #676470; }
#night .pti-ptilist .pti-header .pti-header-button.selected { background-color: #efeff5; color: #676470; }

#night .pti-ptilist .slimScrollDiv { background-color: lightgray; }

#night .pti-ptilist .pti-content>.pti-element>* { background-color: #817D8C; color: white; }
#night .pti-ptilist .pti-content>.pti-element:hover>* { background-color: #777382; }
#night .pti-ptilist .pti-content>.pti-element.selected>div, #night .pti-ptilist .pti-content>.pti-element.selected:hover>div { background-color: #45434C; color: white; }
#night .pti-ptilist .pti-content>.pti-element.ui-selected>div { background-color: #28262B; color: white; }
#night .pti-ptilist .pti-content>.pti-element.ui-selected:hover>div { background-color: #313036; }
#night .pti-ptilist .pti-content>.pti-element.ui-selected.selected>div { background-color: #141316; }


/* sortable, droppable, selectable, content type */
.pti-ptilist .pti-content .pti-sortable-handler { cursor: move; cursor: -webkit-grab; cursor: -moz-grab; }
.pti-ptilist .pti-content .pti-droppable-target { display:inline; clear: both; float: left; width: 100%;}


.pti-ptilist .pti-content>.pti-sortable-placeholder { float:left; }

.pti-ptilist .pti-content.pti-view-big>.pti-sortable-placeholder, .pti-ptilist .pti-content.pti-view-medium>.pti-sortable-placeholder { margin: 0px; padding: 0px; border: none;}
.pti-ptilist .pti-content.pti-view-big>.pti-sortable-placeholder { height: 91px;}
.pti-ptilist .pti-content.pti-view-medium>.pti-sortable-placeholder { height: 46px;}

.pti-ptilist .pti-content.pti-view-list>.pti-sortable-placeholder { height: 21px;}


.ui-selectable-helper { position: absolute; z-index: 100; border:1px dotted black; }
.ui-sortable-helper { pointer-events: none; }


/* misc */
.pti-ptilist .pti-content .display-none { width:0px!important; height: 0px!important; float: right!important;}
