/* playlist menu */
.pti-ptilist .pti-header>.playing-name { position: relative; top: 1px; margin: 0px 0px 0px 5px; border: transparent solid 1px; padding: 0px 5px 1px 5px; width: 177px; height: 27px; line-height: normal; font-size: inherit; color: inherit; background-color: inherit; }

.pti-ptilist .pti-menu { margin-top: 1px; height: 92px; text-align: center; }
.pti-ptilist .pti-menu .squaredTwo { float: left; line-height: 12px; }
.pti-ptilist .pti-menu>.create-playlist-name { box-sizing: border-box; width: 100%; height: 30px; float: left; margin: 1px 0px 0px 1px; }
.pti-ptilist .pti-menu>label.squaredTwo { margin: 10px auto; }
.pti-ptilist .pti-menu>label.squaredTwo:nth-child(2) { clear: both; margin-left: -4%; width: 23%;  }
.pti-ptilist .pti-menu>label.squaredTwo:nth-child(3) { width: 34%; }
.pti-ptilist .pti-menu>input[type=button] { clear: both; float: left; margin-left: 1%; }
.pti-ptilist .pti-menu>label:nth-of-type(3) { float: left; margin-left: 5px; line-height: 25px; cursor: default; }
.pti-ptilist .pti-menu>input[type=button]:nth-of-type(3) { clear: none; }


/* image-div */
.pti-ptilist .pti-content .image-div { float: left; }
.pti-ptilist .pti-content.pti-view-big>* .image-div, .pti-ptilist .pti-content.pti-view-medium>* .image-div  { position: relative; }
.pti-ptilist .pti-content.pti-view-big>* .image-div { width: 120px; height: 90px; margin-right: 3px; }
.pti-ptilist .pti-content.pti-view-medium>* .image-div { width: 60px; height: 45px; margin-right: 3px; }

/* .pti-ptilist .pti-content.pti-view-big>* .image-div img, .pti-ptilist .pti-content.pti-view-big>* .image-div img, .pti-ptilist .pti-content.pti-view-medium>* .image-div img, .pti-ptilist .pti-content.pti-view-medium>* .image-div img { display: block; margin: auto; }  CENTERED IMG */
.pti-ptilist .pti-content.pti-view-big>* .image-div img, .pti-ptilist .pti-content.pti-view-big>* .image-div img, .pti-ptilist .pti-content.pti-view-medium>* .image-div img, .pti-ptilist .pti-content.pti-view-medium>* .image-div img { float: left; }
.pti-ptilist .pti-content.pti-view-big>* .image-div img, .pti-ptilist .pti-content.pti-view-big>* .image-div img { height: 90px; }
.pti-ptilist .pti-content.pti-view-medium>* .image-div img, .pti-ptilist .pti-content.pti-view-medium>* .image-div img { height: 45px; }

.pti-ptilist .pti-content.pti-view-list>* .image-div { width: 40px; height: 20px; margin-right: 2px; }
.pti-ptilist .pti-content.pti-view-list>* .image-div img { display: none;}
.pti-ptilist .pti-content.pti-view-list>* .image-div .duration-caption { height: 20px;}
.pti-ptilist .pti-content.pti-view-list>* .image-div .pti-logo { display: none;}

.pti-ptilist .pti-content.pti-view-big>* .duration-caption, .pti-ptilist .pti-content.pti-view-medium>* .duration-caption { position: absolute; width: auto; height: auto; font-family: Arial, Helvetica, sans-serif; }
.pti-ptilist .pti-content.pti-view-big>* .duration-caption { right: 5px; bottom: 3px; }
.pti-ptilist .pti-content.pti-view-medium>* .duration-caption { right: 0px; bottom: 0px; font-size: 9px; }
.pti-ptilist .pti-content.pti-view-list>* .duration-caption { text-align: right; }

/*action*/
.pti-action-background .pti-content.pti-view-big>*:hover .image-div:before { content: ''; position: absolute; left: 0px; background-color: black; opacity: 0.7; width: 120px; height: 90px; }
.pti-action-background .pti-content.pti-view-medium>*:hover .image-div:before { content: ''; position: absolute; left: 0px; background-color: black; opacity: 0.7; width: 60px; height: 45px; }
.pti-ptilist .pti-content>.pti-element .pti-logo>svg { position: absolute; width: 100%; height: 100%; opacity: 0.7; display: none; }
.pti-ptilist .pti-content>.pti-element:hover .pti-logo>svg { display: block; }

/* videoText error-text */
.pti-ptilist .pti-content>* .error-text { position: absolute; }
.pti-ptilist .pti-content>* .videoText { position: absolute; word-break: break-all; font-family: Arial, Helvetica, sans-serif; }

.pti-ptilist .pti-content.pti-view-big>* .videoText, .pti-ptilist .pti-content.pti-view-big>* .videoText, .pti-ptilist .pti-content.pti-view-medium>* .videoText, .pti-ptilist .pti-content.pti-view-medium>* .videoText { padding-top: 2px; }
.pti-ptilist .pti-content.pti-view-big>* .error-text { line-height: 91px; }
.pti-ptilist .pti-content.pti-view-medium>* .error-text { line-height: 41px; }

.pti-ptilist .pti-content.pti-view-medium>* .videoText br, .pti-ptilist .pti-content.pti-view-list>* .videoText br { display: none;}
.pti-ptilist .pti-content.pti-view-medium>* .videoText>:first-child:after, .pti-ptilist .pti-content.pti-view-list>* .videoText>:first-child:after { content: " " }

.pti-ptilist .pti-content.pti-view-list>* .videoText, .pti-ptilist .pti-content.pti-view-list>* .error-text { margin-left: 5px }
.pti-ptilist .pti-content.pti-view-list>* .videoText {  }
.pti-ptilist .pti-content.pti-view-list>* .error-text {  }

/* Playlists start */
.pti-ptilist .pti-content .pti-playlists-content { position: absolute; left: 120px; right: 0px; line-height: 40px; font-size: 12px; }


.pti-ptilist .pti-content .pti-playlists-content .pti-playlists-info>* { margin-top: 9px; margin-bottom: 11px; height: 19px; line-height: normal; }
.pti-ptilist .pti-content .pti-playlists-content .pti-playlists-info .pti-name { margin-left: 5px; padding: 1px 5px 0px 5px; width: 65%; color: inherit; border: transparent solid 1px; font-size: inherit; background-color: inherit; }
.pti-ptilist .pti-content .pti-playlists-content .pti-playlists-info .pti-status { display: inline-block; margin-top: 7px; margin-bottom: 8px; margin-left: 2%; padding: 4px 5px 4px 4px; width: 10px; text-align: center; }
.pti-ptilist .pti-content .pti-playlists-content .pti-playlists-info .pti-count { float: right; margin-right: 20px; padding-top: 2px; }
.pti-ptilist .pti-content .pti-playlists-content .pti-playlists-buttons { clear: right; }
.pti-ptilist .pti-content .pti-playlists-content .pti-playlists-buttons>* { float: left; cursor: pointer; }
.pti-ptilist .pti-content .pti-playlists-content .pti-playlists-buttons>* { padding: 0px 10px 0px 10px; float: left; text-align: center; }
.pti-ptilist .pti-content .pti-playlists-content .pti-playlists-buttons>*:hover:not(.pti-remove-playlist) { cursor: pointer; }

.pti-ptilist .pti-content .pti-playlists-content .pti-playlists-buttons>.pti-play-this { margin-left: 15px; margin-right: 7px; }

.pti-ptilist .pti-content .pti-playlists-content .pti-playlists-buttons>.pti-remove-playlist { float: right; width: 107px; padding: 0px; margin-right: 15px; }
.pti-ptilist .pti-content .pti-playlists-content .pti-playlists-buttons>.pti-remove-playlist>*:hover { cursor: pointer; }
.pti-ptilist .pti-content .pti-playlists-content .pti-playlists-buttons>.pti-remove-playlist>.pti-remove-playlist-yes, .pti-ptilist .pti-content .pti-playlists-content .pti-playlists-buttons>.pti-remove-playlist>.pti-remove-playlist-no { float: left; width: 50%; }
/* Playlists End */

/* COLORS */
/* Playlist */
/*COMMON*/
.pti-ptilist .pti-content.pti-view-big .image-div, .pti-ptilist .pti-content.pti-view-medium .image-div { background-color: black; }

/*DAY*/
.pti-ptilist .pti-content .pti-element .pti-logo>svg>* { fill: aliceblue; }
.pti-ptilist .pti-content .pti-element.selected .pti-logo>svg>* { fill: #6796b4; }
.pti-ptilist .pti-content .pti-element.ui-selected .pti-logo>svg>* { fill: #ffb122; }

.pti-ptilist .pti-content.pti-view-big>* .duration-caption, .pti-ptilist .pti-content.pti-view-medium>* .duration-caption { background: #000000; color: #FFFFFF; }
.pti-ptilist .pti-content.pti-view-list>* .duration-caption { color: #56545e; }
.pti-ptilist .pti-content.pti-view-list>*.ui-selected .duration-caption { color: white; }
.pti-ptilist .pti-content>* .error-text, .pti-ptilist .pti-content>* .error-text a { color: #6796b4; }

.pti-ptilist .pti-content>*.selected .videoText, .pti-ptilist .pti-content>*.selected:hover .videoText, .pti-ptilist .pti-content>*.ui-selected .videoText, .pti-ptilist .pti-content>*.selected .error-text>b>a:link, .pti-ptilist .pti-content>*.selected .error-text>b>a, .pti-ptilist .pti-content>*.ui-selected .error-text a, .pti-ptilist .pti-content>*.ui-selected .error-text a:hover, .pti-ptilist .pti-content>*.selected .duration-caption { color: white!important; }

.pti-ptilist .pti-menu>.create-playlist-name { color: #56545e; }
.pti-ptilist .pti-menu>input[type=button] { background-color: #6796b4; color: white; }
.pti-ptilist .pti-menu>input[type=button]:hover { background-color: #7EA6BF; }

/*NIGHT*/
#night .pti-ptilist .pti-header>.playing-name { background-color: #8B8896; color: white; }

#night .pti-ptilist .pti-content .pti-element .pti-logo>svg>* { fill: silver; }
#night .pti-ptilist .pti-content .pti-element.selected .pti-logo>svg>* { fill: aliceblue; }
#night .pti-ptilist .pti-content .pti-element.ui-selected .pti-logo>svg>* { fill: white; }

#night .pti-ptilist .pti-content.pti-view-list>* .duration-caption { color: white; }
#night .pti-ptilist .pti-content>* .error-text, .pti-ptilist .pti-content>* .error-text a { color: white; }

#night .pti-ptilist .pti-menu { background-color: #676470; color: white; }
#night .pti-ptilist .pti-menu>.create-playlist-name { background-color: #8B8896; color: white; }
#night .pti-ptilist .pti-menu>.create-playlist-name::-webkit-input-placeholder { color: silver; }
#night .pti-ptilist .pti-menu>input[type=button] { background-color: #45434C; }
#night .pti-ptilist .pti-menu>input[type=button]:hover { background-color: #817D8C; }

/* Playlists */
/*DAY*/
.pti-ptilist .pti-content .pti-element.drop-hover>div { background-color: #cacaf4; }
.pti-ptilist .pti-content .pti-playlists-content .pti-playlists-info .pti-name:focus { border: rgb(170, 200, 255) solid 1px; }
.pti-ptilist .pti-content .pti-playlists-content .pti-playlists-buttons>* { background-color: #6796b4; color: #efeff5; }
.pti-ptilist .pti-content .pti-playlists-content .pti-playlists-buttons>*:hover:not(.pti-remove-playlist) { background-color: #7EA6BF; color: white; }
.pti-ptilist .pti-content .pti-playlists-content .pti-playlists-buttons>.pti-remove-playlist>*:hover { background-color: #7EA6BF; color: white; }
.pti-ptilist .pti-content .pti-element.ui-selected .pti-playlists-content .pti-playlists-buttons>*, .pti-ptilist .pti-content .pti-element.ui-selected .pti-playlists-content .pti-playlists-info .pti-status { background-color: #F97413; }
.pti-ptilist .pti-content .pti-element.ui-selected .pti-playlists-content .pti-playlists-buttons>*:hover:not(.pti-remove-playlist) { background-color: #F9961B; }
.pti-ptilist .pti-content .pti-element.ui-selected .pti-playlists-content .pti-playlists-buttons>.pti-remove-playlist>*:hover { background-color: #F9961B; }

/*NIGHT*/
#night .pti-ptilist .pti-content .pti-element.drop-hover>div { background-color: #cacaf4; }
#night .pti-ptilist .pti-content .pti-playlists-content .pti-playlists-info .pti-name:focus { border: silver solid 1px; }
#night .pti-ptilist .pti-content .pti-playlists-content .pti-playlists-buttons>* { background-color: #63606C; color: white; }
#night .pti-ptilist .pti-content .pti-playlists-content .pti-playlists-buttons>*:hover:not(.pti-remove-playlist) { background-color: #676470; color: white; }
#night .pti-ptilist .pti-content .pti-playlists-content .pti-playlists-buttons>.pti-remove-playlist>*:hover { background-color: #676470; color: white; }
#night .pti-ptilist .pti-content .pti-element.ui-selected .pti-playlists-content .pti-playlists-buttons>*,
#night .pti-ptilist .pti-content .pti-element.ui-selected .pti-playlists-content .pti-playlists-info .pti-status
{ background-color: #141316; }
#night .pti-ptilist .pti-content .pti-element.ui-selected .pti-playlists-content .pti-playlists-buttons>*:hover:not(.pti-remove-playlist) { background-color: #1E1D20; }
#night .pti-ptilist .pti-content .pti-element.ui-selected .pti-playlists-content .pti-playlists-buttons>.pti-remove-playlist>*:hover { background-color: #1E1D20; }
