.temp-no-height { height: 0px; }
.temp-height-ctrls { height: 70px; }
.temp-absolute { position: absolute; }
.temp-openNewWindow { position:relative; left: 27px; padding-right: 27px;  }
.temp-alignQRCode>canvas { display: block; margin: 0px auto; }
.temp-display-none { display: none; }
.temp-display-none-important { display: none!important; }
.temp-width-zero-percent { width: 0%; position: relative; }
.temp-width-hundred-percent { width: 100%; position: relative; }
.temp-position-relative { position: relative }
.temp-border-none { border: none; }
.temp-margin-none { margin: 0px; }
.temp-overflow-hidden { overflow: hidden; }
.temp-popup-nav-content { position: absolute; top: 41px; bottom: 0px; width: 100%; background-color: #f7f7f7; transition: all 0.33s ease; }
.temp-absolute-off-screen { position: absolute; left: -9999px; }
.temp-parsed-error { position: absolute; width: 100%; top: 0px; bottom: 0px; z-index: 999; word-break: break-all; pointer-events: none; }
.temp-parsed-error>div { display: table; height: 100%; width: 100%; }
.temp-parsed-error>div>div { display: table-cell; vertical-align: middle; text-align: center; height: 23px; line-height: 23px; }
.temp-parsed-error>div>div>div { max-height: 200px; }
#parsedError>div>div>.alert-danger { background: tomato; }
#parsedError>div>div>.alert-warning { background: #F9961B; }
.temp-parse-page-playlist { position: absolute; width:100%; top: 70px; bottom: 0px; }
.temp-playlist-header-margin-left { margin-left: 10px!important; }
.temp-parse-button { position: absolute; top: 61px; background-color: #6796b4; color: white; }
.temp-parse-button:hover { background-color: #7EA6BF; }
.temp-textarea-parse-playlist-wrapper { position: absolute; width: 100%; top: 92px; bottom: 0px; }
.temp-options-share-this-link { height: 221px; }
.temp-options-url-line { display: inline; text-align: center; position: absolute; width: 100%; line-height: 30px;}
.temp-options-url-line>*:nth-child(1) { float: left; margin-left: 1%; width: 15%; }
.temp-options-url-line>*:nth-child(2) { float: left; font-size: 13px; width: 65%; }
.temp-options-url-line>*:nth-child(3) { margin-right: 1%; width: 15%; color: #6796b4; }
.temp-options-fullurl-line { top: 43px; }
.temp-options-long-line { top: 83px; }
.temp-options-short-line { top: 123px; }
.temp-options-fullurls-line { top: 163px; }
.temp-options-fullurls-line textarea { resize: none; }
.temp-panel.temp-options-go-mobile-wrapper { height : 300px; margin-top: 1px; background-color: #f7f7f7; }
.temp-options-go-mobile { position: absolute; width: 100%; }
.temp-alignQRCode { position: relative; top: -2px; }
.temp-panel.temp-options-tooltips-wrapper { height: 127px; margin-top: 1px; }
.temp-options-tooltip { float: left; width: 50%; text-align: center; color: black; height: 30px; line-height: 30px; }
.temp-options-tooltip * { margin: 0px!important; }
.temp-options-tooltip>*:nth-child(1) { float: left; width: 50%; font-size: 13px; font-weight: bold; line-height: inherit; }
.temp-options-tooltip>*:nth-child(2) { box-sizing: border-box; width: 50%; height: inherit; text-align: center; }
.temp-panel.temp-options-tooltips-wrapper>#LOUD { color: white; position: relative; top: -8px; right: -14px; }
/*.temp-panel { background-color: white; color: white; border: 1px solid #6796b4; font-family: "Open Sans", Calibri, Candara, Arial, sans-serif; font-size: 14px; margin-top: 1px; }*/
#howDivContainer .temp-panel { margin-top: 1px; }
.temp-panel { background-color: #f7f7f7; color: white; font-family: "Open Sans", Calibri, Candara, Arial, sans-serif; font-size: 14px; margin-top: 0px; }
.temp-panel-heading { color: white; background-color: #6796b4; border-color: #6796b4; height: 35px; margin-bottom: 9px; line-height: 35px; padding-left: 15px; }
.temp-panel>*:nth-child(1n+2) { font-size: 13px; font-weight: bold; color: #6796b4; }
/*.button>.temp-play-tooltip { display: none; }*/
/*.button:hover>.temp-tooltip-active.temp-play-tooltip { display: block; position: relative; height: 13px; top: 35px; left: -137px; width: 200px; height: 100px; font-size: 11px; line-height: inherit; z-index: 999; pointer-events: none;}*/
.temp-webkit-grabbing * { cursor: move!important; cursor: -webkit-grabbing!important; cursor: -moz-grabbing!important; }
.temp-crosshair * { cursor: crosshair!important; }


.pti-action-background .pti-content.pti-view-big>*:hover .image-div:before { content: ''; position: absolute; left: 0px; background-color: black; opacity: 0.7; width: 120px; height: 90px; }
.pti-action-background .pti-content.pti-view-medium>*:hover .image-div:before { content: ''; position: absolute; left: 0px; background-color: black; opacity: 0.7; width: 60px; height: 45px; }

.pti-action-add .pti-content.pti-view-big>*:hover:not(.selected) .image-div>.pti-logo:after { content: ''; position: absolute; left: 15px; opacity: 0.7; border-top: 45px solid transparent; border-bottom: 45px solid transparent; border-left: 60px solid black; }
.pti-action-add .pti-content.pti-view-big>*.selected:hover .image-div>.pti-logo:after { content: ''; position: absolute; left: 15px; opacity: 0.7; border-top: 45px solid transparent; border-bottom: 45px solid transparent; border-left: 60px solid black;  }
.pti-action-add .pti-content.pti-view-big>*:hover.ui-selected:not(.selected) .image-div>.pti-logo:after { content: ''; position: absolute; left: 15px; opacity: 0.7; border-top: 45px solid transparent; border-bottom: 45px solid transparent; border-left: 60px solid black; }
.pti-action-add .pti-content.pti-view-big>*.selected.ui-selected:hover .image-div>.pti-logo:after { content: ''; position: absolute; left: 15px; opacity: 0.7; border-top: 45px solid transparent; border-bottom: 45px solid transparent; border-left: 60px solid black; }
.pti-action-add .pti-content.pti-view-medium>*:hover:not(.selected) .image-div>.pti-logo:after { content: ''; position: absolute; left: 7.5px; opacity: 0.7; border-top: 22.5px solid transparent; border-bottom: 22.5px solid transparent; border-left: 30px solid black; }
.pti-action-add .pti-content.pti-view-medium>*.selected:hover .image-div>.pti-logo:after { content: ''; position: absolute; left: 7.5px; opacity: 0.7; border-top: 22.5px solid transparent; border-bottom: 22.5px solid transparent; border-left: 30px solid black; }
.pti-action-add .pti-content.pti-view-medium>*:hover.ui-selected:not(.selected) .image-div>.pti-logo:after { content: ''; position: absolute; left: 7.5px; opacity: 0.7; border-top: 22.5px solid transparent; border-bottom: 22.5px solid transparent; border-left: 30px solid black; }
.pti-action-add .pti-content.pti-view-medium>*.selected.ui-selected:hover .image-div>.pti-logo:after { content: ''; position: absolute; left: 7.5px; opacity: 0.7; border-top: 22.5px solid transparent; border-bottom: 22.5px solid transparent; border-left: 30px solid black; }
.pti-action-add .pti-content.pti-view-list>*:hover:not(.selected) .image-div:before { content: ''; position: absolute; left: 15px; border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-left: 20px solid #6796b4; }
.pti-action-add .pti-content.pti-view-list>*:hover:not(.selected) .image-div:after { content: ''; position: absolute; left: 15px; border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-left: 13px solid aliceblue; }
.pti-action-add .pti-content.pti-view-list>*:hover.ui-selected:not(.selected) .image-div:after { content: ''; position: absolute; left: 15px; border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-left: 13px solid #ffb122; }
.pti-action-add .pti-content.pti-view-list>*.selected:hover .image-div:before { content: ''; position: absolute; left: 15px; border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-left: 20px solid aliceblue; }
.pti-action-add .pti-content.pti-view-list>*.selected:hover .image-div:after { content: ''; position: absolute; left: 15px; border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-left: 20px solid #6796b4; }
.pti-action-add .pti-content.pti-view-list>*.selected:hover.ui-selected .image-div:after { content: ''; position: absolute; left: 15px; border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-left: 13px solid #F97413; }
.pti-action-add .pti-content.pti-view-list>*:hover .image-div .duration-caption { display: none; }

.pti-action-play .pti-content.pti-view-big>*:hover:not(.selected) .image-div>.pti-logo:before { content: ''; position: absolute; left: 15px; opacity: 0.7; border-top: 45px solid transparent; border-bottom: 45px solid transparent; border-left: 90px solid aliceblue; }
.pti-action-play .pti-content.pti-view-big>*.selected:hover .image-div>.pti-logo:before { content: ''; position: absolute; left: 15px; opacity: 0.7; border-top: 45px solid transparent; border-bottom: 45px solid transparent; border-left: 90px solid #6796b4; }
.pti-action-play .pti-content.pti-view-big>*:hover.ui-selected:hover:not(.selected) .image-div>.pti-logo:before { content: ''; position: absolute; left: 15px; opacity: 0.7; border-top: 45px solid transparent; border-bottom: 45px solid transparent; border-left: 90px solid #ffb122; }
.pti-action-play .pti-content.pti-view-big>*.selected.ui-selected:hover .image-div>.pti-logo:before { content: ''; position: absolute; left: 15px; opacity: 0.7; border-top: 45px solid transparent; border-bottom: 45px solid transparent; border-left: 90px solid #F97413; }
.pti-action-play .pti-content.pti-view-medium>*:hover:not(.selected) .image-div>.pti-logo:before { content: ''; position: absolute; left: 7.5px; opacity: 0.7; border-top: 22.5px solid transparent; border-bottom: 22.5px solid transparent; border-left: 45px solid aliceblue; }
.pti-action-play .pti-content.pti-view-medium>*.selected:hover .image-div>.pti-logo:before { content: ''; position: absolute; left: 7.5px; opacity: 0.7; border-top: 22.5px solid transparent; border-bottom: 22.5px solid transparent; border-left: 45px solid #6796b4; }
.pti-action-play .pti-content.pti-view-medium>*:hover.ui-selected:hover:not(.selected) .image-div>.pti-logo:before { content: ''; position: absolute; left: 7.5px; opacity: 0.7; border-top: 22.5px solid transparent; border-bottom: 22.5px solid transparent; border-left: 45px solid #ffb122; }
.pti-action-play .pti-content.pti-view-medium>*.selected.ui-selected:hover .image-div>.pti-logo:before { content: ''; position: absolute; left: 7.5px; opacity: 0.7; border-top: 22.5px solid transparent; border-bottom: 22.5px solid transparent; border-left: 45px solid #F97413; }
.pti-action-play .pti-content.pti-view-list>*:hover:not(.selected) .image-div:before { content: ''; position: absolute; left: 15px; border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-left: 20px solid #6796b4; }
.pti-action-play .pti-content.pti-view-list>*.selected:hover .image-div:before, .pti-action-play .pti-content.pti-view-list>*.ui-selected:hover .image-div:before { content: ''; position: absolute; left: 15px; border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-left: 20px solid aliceblue; }
.pti-action-play .pti-content.pti-view-list>*:hover .image-div .duration-caption { display: none; }

#howDiv .slimScrollDiv { top: 0px; }
#howDiv #howDivContainer { position: absolute; width: 100%; height: 100%; top: -1px; background-color: #f7f7f7; }
.temp-how-item { float: left; width: 100%; height: 100%; text-align: center; color: black; }
.temp-how-item>*:nth-child(1) { width: 100%; height: 100%; }
.temp-panel-heading-how { cursor: pointer; margin-bottom: 0px; height: auto; }
.temp-panel-heading-how:hover { background-color: #7EA6BF; color: white; }
.temp-panel-heading-how.selected { background-color: #4F7E9C; color: white; }

a[href="#howDiv"] { position: relative; }

.pti-element .pti-logo>svg { position: absolute; width: 80%; height: 80%; top: 9px; left: 13px; opacity: 0.7; display: none; }
.pti-element:hover .pti-logo>svg { display: block; }
.pti-element .pti-logo>svg>path { fill: aliceblue; }
.pti-element.ui-selected .pti-logo>svg>path { fill: #ffb122; }

.nav>li.playlistsDropdown, .nav>li.parseDropdown, .nav>li.optionsDropdown { text-align: center; }
.nav>li.playlistsDropdown>a, .nav>li.parseDropdown>a, .nav>li.optionsDropdown>a { padding-left: 8px; padding-right: 8px; }
.nav>li.parseDropdown>a { width: 55px; }
.nav>li.playlistsDropdown>a { width: 91px; }
.nav>li.optionsDropdown>a { width: 56px; }
.pti-dropdown { float: left; position: relative; }
.pti-dropdown>input { position: absolute; left: -9999px;}
.pti-dropdown>span[role="status"] { display: none; }
.pti-dropdown>.dropdown-toggle { padding-left: 10px; padding-right: 10px; background-color: #efeff5; }
.pti-dropdown>.dropdown-toggle>.caret { border-top-color: #077fff; border-bottom-color: #077fff;  }
.pti-dropdown>.dropdown-toggle:hover { background-color: royalblue; }
.pti-dropdown>.dropdown-toggle:hover>.caret { border-top-color: white; border-bottom-color: white;  }
.pti-dropdown>button.pti-active { background-color: #077fff!important; border-top-color: aliceblue!important; border-bottom-color: aliceblue!important; }
.pti-dropdown>button.pti-active * { background-color: #077fff!important; border-top-color: aliceblue!important; border-bottom-color: aliceblue!important; }
.pti-dropdown>.dropdown-menu { position: absolute; top:31px!important; left: auto; right: 0px; padding: 0px; }
.pti-dropdown>.dropdown-menu, .pti-dropdown>.dropdown-menu * { margin: 0px; border: none; border-radius: 0px; }
#parseDropdown>.dropdown-menu, #parseDropdown>.dropdown-menu * { min-width: 64px; }
#playlistsDropdown>.dropdown-menu, #playlistsDropdown>.dropdown-menu * { min-width: 100px; }
#optionsDropdown>.dropdown-menu, #optionsDropdown>.dropdown-menu * { min-width: 65px; }
.pti-dropdown>.dropdown-menu>li:hover>a:not(.ui-state-focus) { color: rgb(153, 153, 153); }
.pti-dropdown>.dropdown-menu>li>a.ui-state-focus { background-color: #077fff; color: white; }
.pti-dropdown>.dropdown-menu>li>a { padding: 3px 18px 3px 17px; cursor: pointer; }
