html { width: 100%; height: 100%; overflow: hidden; }

#playerWidgetContainer { top: 1px; right: 1px; left: 1px; }
#splitViews { top: 36px; right: 1px; bottom: 1px; left: 1px; }

.pti-ptilist .pti-header+.pti-menu+.slimScrollDiv { top: 95px; }
.pti-ptilist .pti-menu label { display: none; }
.pti-ptilist .pti-menu>input[type=button] { margin-top: 2px; }